<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="gallery__list-images">
                    <div
                    *ngFor="let item of images" 
                    class="gallery__item"
                    style="margin-bottom: 2em;width: 28%"
                    >
                        <div
                        class="multiple-items"
                        (click)="selectImage(item.url)"
                        >
                            <img class="img-fluid h-100" [src]="item.url" />

                        </div>

                    </div>
                    <app-zoom-image 
                    *ngIf="showBigImage"
                    imageUrl="./assets/img/1.jpeg"
                    [(activeZoom)]="activeZoom"
                    >
                    </app-zoom-image>
                </div>

            </div>
        </div>
    </div>
</div>
