<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="gallery__menu">
                    <div 
                    *ngFor="let menu of menus; let i = index" 
                    [ngClass]="{ 'gallery__menu--selected': menu.idMenu === indexMenu + 1 }"
                    class="gallery__menu--menu"
                    (click)="selectMenu(i)"
                    >{{ menu.name}}</div>
                </div>
                <div class="gallery__list-images">
                    <div
                    *ngFor="let item of imagesToShow" 
                    class="gallery__item"
                    style="margin-bottom: 2em;width: 28%"
                    [ngClass]="{ 'disable-image': activeZoom }"
                    >
                        <div
                        class="multiple-items"
                        (click)="selectImage(item.url)"
                        >
                            <img class="img-fluid h-100" [src]="item.url" />

                        </div>

                    </div>
                    <app-zoom-image
                    [imageUrl]="imageSelected"
                    [(activeZoom)]="activeZoom"
                    >
                    </app-zoom-image>
                </div>

            </div>
        </div>
    </div>
</div>
