.gallery {
    margin: 3em 0;
    position: relative;
}

.gallery__list-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery__item {
    width: 45%;
    text-align: center;
    margin-bottom: 2em;
}

.gallery__item--image {
    width: 100%;
}

.disable-image {
    opacity: 0.5;
}

.gallery__menu--menu {
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 1.5em;
    margin-bottom: 2em;
}

.gallery__menu--selected {
    color: #eb8c2a;
    text-decoration: underline;
}

