
.app-zoom {
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;

  .zoom {

    height: 100%;

  }

  .zoom img:hover {
    opacity: 0;
  }
  .zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
  }
  
}

.big-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0px;
  top: 9em;

  .big-image__zoom {
    position: absolute;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -25%);
  }
}

.zoom {
  position: absolute;
  top: 0;
  transform: translate(-50%, 0%);
  left: 50%;
}

.parent {
  width: 40em;
  margin: 20px;
  height: 30em;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
cursor: pointer;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.parent:hover .child, .parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
  display: block;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52,73,94,0.75);
}